#**Assignment9 Spark**
###6031010021 Yanika Dontong

### **Prepare Spark and Data**

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
!tar xf spark-3.1.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [3]:
import findspark
findspark.init()

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()
sc = spark.sparkContext

In [5]:
!wget -q https://www.dropbox.com/s/43ocwui5rgjzi4r/cat_id.csv
!wget -q https://www.dropbox.com/s/6y5turfkb99tbhn/wongnai.csv

In [6]:
import pandas as pd
cat_df = pd.read_csv('cat_id.csv', names=('id', 'category'), dtype=(str, str))
wongnai_df = spark.read.csv('wongnai.csv',header=True)

In [7]:
cat_df.id = cat_df.id + '.0'

In [8]:
cat_mapping = cat_df.set_index('id').to_dict()['category']
cat_mapping

{'10.0': 'Indian',
 '11.0': 'Buffet',
 '12.0': 'Street Food',
 '13.0': 'Fusion Food',
 '14.0': 'Coffee Shop',
 '15.0': 'Others',
 '2.0': 'Japanese',
 '3.0': 'Thai',
 '4.0': 'Chinese',
 '5.0': 'Italian',
 '6.0': 'Korean',
 '7.0': 'Vietnam',
 '8.0': 'American',
 '9.0': 'French'}

In [9]:
wongnai_df.show()

+---+---+--------------------+-----------+-------+------------------+------------------+-----------+---------+-------------------+----------------------------+---+---------------+------------------+------------------+
|_c0| id|                name|category_id|city_id|          latitude|         longitude|price_range|avg_price|number_of_bookmarks|number_of_favorite_bookmarks|top|best_of_wongnai|number_of_checkins|    all_time_score|
+---+---+--------------------+-----------+-------+------------------+------------------+-----------+---------+-------------------+----------------------------+---+---------------+------------------+------------------+
|  0|  2|         บ้านกลมกิ๊ก|        3.0|    1.0|13.738961999999999|        100.550248|        2.0|    175.0|                294|                          84|  1|           null|                32| 22487.87235772358|
|  1|  3|โรงเบียร์เยอรมันต...|       33.0|    1.0|          13.84232|        100.634959|        3.0|     null|                  2|                           2|  0|           null|                 0|              92.9|
|  2|  4|             Kosirae|       43.0|    1.0|13.724998999999999|100.57971500000001|        3.0|    375.0|               3405|                         989|  1|           66.0|               173|239274.95038973386|
|  3|  5|Ho Kitchen Seafoo...|       29.0|    1.0|13.687332514024973|100.55081699140169|        3.0|     null|                 94|                          24|  0|           null|                21| 13307.51275471698|
|  4|  6| Barley Bistro & Bar|        3.0|    1.0|13.726498999999999|        100.529425|        3.0|    375.0|                249|                         146|  1|           null|                14|19606.094679802958|
|  5|  7|             Sirocco|       53.0|    1.0|         13.721769|        100.516887|        5.0|   1500.0|               1653|                         596|  1|          113.0|                27|         207255.72|
|  6|  8|           Steak Bkk|        8.0|    1.0|13.728473000000001|        100.657228|        2.0|     null|                  6|                           6|  0|           null|                 3|              -1.0|
|  7|  9|Peony Teafe' & Ga...|       24.0|    1.0|         13.725478|100.53805899999999|        2.0|     null|                596|                         416|  1|           null|                25|              -1.0|
|  8| 10|        คิวซัง ราเมน|        2.0|    1.0|13.728745000000002|        100.657078|        2.0|     null|                 32|                          27|  1|           null|                10|              -1.0|
|  9| 14|  เจ๊โอว ข้าวต้มเป็ด|       56.0|    1.0|13.742517000000001|        100.522513|        1.0|     50.0|               3643|                         670|  1|           36.0|               316|229334.21465809466|
| 10| 15|     Author's Lounge|       14.0|    1.0|         13.723915|100.51439599999999|        4.0|   1500.0|                105|                          32|  0|           null|                10|15779.146024096384|
| 11| 16|         Oldies Cafe|       33.0|    1.0|13.732548000000001|100.53064599999999|        1.0|     null|                 40|                           7|  0|           null|                45|6699.3439192734595|
| 12| 17|       Spicy Kitchen|        8.0|    1.0|13.735585999999998|        100.562015|        2.0|     null|                  1|                           1|  0|           null|                 0|              -1.0|
| 13| 18| Another Hound Café |        5.0|    1.0|13.746245618737026|100.53452228902437|        3.0|      0.0|                279|                         155|  1|           null|                82|              -1.0|
| 14| 19|ข้าว ยำ ตำ เตี๋ยว...|       28.0|    1.0|         13.745017|         100.53205|        2.0|     null|                 24|                          23|  0|           null|                 3|              -1.0|
| 15| 20|เฮียตือหูฉลาม เยา...|       12.0|    1.0|13.740236999999999|100.51025200000001|        2.0|    175.0|                757|                         336|  1|           null|                64|49635.059675675686|
| 16| 21|โกอ่างข้าวมันไก่ป...|       36.0|    1.0|13.749554000000002|        100.541917|        1.0|     50.0|               1245|                         355|  1|           null|               193|102906.29838655461|
| 17| 22|    Tonkatsu Rakutei|        2.0|    1.0|         13.742392|100.57179000000001|        3.0|     null|                 15|                          15|  0|           null|                 0|              -1.0|
| 18| 23|Sambuca Pizzeria ...|        5.0|    1.0|        13.7145685|        100.532424|        3.0|     null|                 17|                          15|  0|           null|                 1|              -1.0|
| 19| 24|      ภัตตาคารจานทอง|        4.0|    1.0|         13.784069|         100.36361|        3.0|     null|                 39|                          10|  0|           null|                 4| 4084.008301886792|
+---+---+--------------------+-----------+-------+------------------+------------------+-----------+---------+-------------------+----------------------------+---+---------------+------------------+------------------+
only showing top 20 rows

In [10]:
wongnai_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- price_range: string (nullable = true)
 |-- avg_price: string (nullable = true)
 |-- number_of_bookmarks: string (nullable = true)
 |-- number_of_favorite_bookmarks: string (nullable = true)
 |-- top: string (nullable = true)
 |-- best_of_wongnai: string (nullable = true)
 |-- number_of_checkins: string (nullable = true)
 |-- all_time_score: string (nullable = true)

### **จงนับจำนวนร้านอาหารทั้งหมดที่มี**

In [11]:
wongnai_df.count()

283508

### **จงนับจำนวนร้านอาหารในกรุงเทพทั้งหมดที่มี**

after looked up for the latitude and longitude that provide, assumed that city_id of Bangkok is 1.0

In [12]:
wongnai_df.filter(wongnai_df['city_id']==1.0).count()

90611

### **จงนับจำนวนร้านอาหารญี่ปุ่นในต่างจังหวัด (ที่ไม่ใช่กรุงเทพฯ) ทั้งหมดที่มี**

In [13]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [14]:
def category_mapping(cat_id): 
    if cat_id in cat_mapping:
        return cat_mapping[cat_id]
    else:
        return 'Unknown'

to_category = udf(category_mapping, StringType())

In [18]:
res_outside_bkk = wongnai_df.filter(wongnai_df['city_id']!=1.0)
res_cat = res_outside_bkk.withColumn('category', to_category(res_outside_bkk.category_id))

In [23]:
jap_res_outside_bkk = res_cat.filter(res_cat['category']=='Japanese')
jap_res_outside_bkk.count()

3053

### **จงแสดงรายชื่อร้านอาหารที่มีจำนวนการ check-in มากกว่า 300 ครั้ง**

In [25]:
wongnai_df.filter(wongnai_df['number_of_checkins'] > 300).select('name').show()

+--------------------+
|                name|
+--------------------+
|  เจ๊โอว ข้าวต้มเป็ด|
|            มุมอร่อย|
|            มนต์นมสด|
|             อบอร่อย|
|      ต๋อง เต็ม โต๊ะ|
|     The Glass House|
| Annyeong Korean BBQ|
|         กล้วยน้ำว้า|
|สวนผัก โอ้กะจู๋ อ...|
|              ไม้เอก|
+--------------------+

### **จงหาค่าเฉลี่ย (mean) ของราคาเฉลี่ย (avg_price) ของร้านอาหารทั้งหมด**

In [69]:
from pyspark.sql.functions import mean
wongnai_df.select(mean('avg_price')).show()

+-----------------+
|   avg(avg_price)|
+-----------------+
|326.0524635946539|
+-----------------+